# Folders
.vscode
.ipynb_checkpoints
machine_learning/02_Software_Engineering_Fundamentals/lesson_05/dist
machine_learning/02_Software_Engineering_Fundamentals/lesson_05/rki_scraper.egg-info

# Files
*.toc
*.aux
*.log
machine_learning/02_Software_Engineering_Fundamentals/lesson_05/dd4580c810204019a7b8eb3e0b329dd6_0.csv
